# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore local Gradle wrapper
gradlew
gradlew.bat
gradle/wrapper/

# Ignore signing keys
*.keystore
*.jks

# Ignore local configuration files
local.properties

# Ignore IDE-specific files
.idea/

# Ignore OS-specific files
.DS_Store

# Ignore Claude AI files
.claude