<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agreenbhm.vibetainer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VibetainerApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="Vibetainer"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Portainer">
        <activity
            android:name=".ui.NodeDetailActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.EndpointListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ContainerDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.DashboardActivity"
            android:exported="false" />

        <activity android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity
            android:name=".ui.ContainersListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ServicesListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ServiceContainersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StacksListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StackCreateActivity"
            android:exported="false" />
            <activity
            android:name=".ui.NodeImagesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NodeVolumesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NodeContainersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StackDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.YamlViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ConfigsListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ConfigDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NetworksListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NetworkDetailActivity"
            android:exported="false" />
    </application>
</manifest>
